black==25.11.0
cfgv==3.5.0
coverage==7.12.0
distlib==0.4.0
filelock==3.20.0
flake8==7.3.0
gh==0.0.4
identify==2.6.15
iniconfig==2.3.0
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
pathspec==0.12.1
pluggy==1.6.0
pre_commit==4.5.0
pycodestyle==2.14.0
pyflakes==3.4.0
pytest==9.0.1
pytest-cov==7.0.0
pytokens==0.3.0
virtualenv==20.35.4
